<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shesuhui.girm.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.shesuhui.girm.model.User" >
    <id column="id" property="id" jdbcType="DECIMAL" />
    <result column="creator" property="creator" jdbcType="DECIMAL" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="name_cn" property="nameCn" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, creator, createtime, code, name, name_cn
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where id = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.shesuhui.girm.model.User" >
    insert into user (id, creator, createtime, 
      code, name, name_cn)
    values (#{id,jdbcType=DECIMAL}, #{creator,jdbcType=DECIMAL}, #{createtime,jdbcType=TIMESTAMP}, 
      #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{nameCn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shesuhui.girm.model.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="nameCn != null" >
        name_cn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nameCn != null" >
        #{nameCn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shesuhui.girm.model.User" >
    update user
    <set >
      <if test="creator != null" >
        creator = #{creator,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nameCn != null" >
        name_cn = #{nameCn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shesuhui.girm.model.User" >
    update user
    set creator = #{creator,jdbcType=DECIMAL},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      name_cn = #{nameCn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=DECIMAL}
  </update>
</mapper>